<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Them Người Dùng </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <form action="/add" method="POST">
            <label for="name"> Name: </label>
            <input type="text" name="name" id="name" required>

            <label for="description"> Description: </label>
            <input type="text" name="description" id="description" required>
            
            <label for="price"> Price: </label>
            <input type="number" name="price" id="price" required>
            
            <label for="created_at"> Created_at : </label>
            <input type="date" name="created_at" id="created_at" required>

           <button type="submit">Edit </button>
        </form>
        <a href="/"> Quay lại danh sách người dùng </a>
    </div>
</body>
</html>